
.wall {
  min-height: 7em;
  background: none;
}
@media screen and (min-width: 570px) {

  .wall {
    min-height: 10em;
  }

@media screen and (min-width:932px) {

  .wall {
    min-height: 9em;
  }
}
